.MainContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.itemContainer {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.imgDiv {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;

}

.imgDiv:hover{
  -webkit-transform: scale(1.3);
	transform: scale(1.1);

}

.itemName {
  font-weight: bold;
}

.itemCity {
  font-weight: 300;
}

.itemPrice {
  font-weight: bold;
}

.ghRating > button {
  border: none;
  background-color: #003580;
  color: white;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.ghRating > span {
  font-size: 14px;
}
